In [14]:
import pandas as pd
from tqdm import tqdm
tqdm.pandas()

### aggregate code cells

In [11]:
code_df = pd.read_csv('D:/Th/data/KGT_metrics/Code_cell_metrics.csv')

C:\Users\MMGH\AppData\Local\Temp\ipykernel_12596\1147468702.py:1: DtypeWarning: Columns (2,3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  code_df = pd.read_csv('D:/Th/data/KGT_metrics/Code_cell_metrics.csv')

In [20]:
code_df.head()

,Unnamed: 0,project_name,project_ID,cell_index,source,output_type,execution_count,LOC,BLC,UDF,...,OPRND,OPRATOR,UOPRND,UOPRATOR,ID,ALID,MLID,LOCom,CW,CyC
0,0,kerneler_starter-portrait-segmentation-b08b391...,11413234,3.0,from mpl_toolkits.mplot3d import Axes3D\nfrom ...,NaN,1.0,7,0,0,...,4,1,4,1,30,5,14,4,13,1
1,1,kerneler_starter-portrait-segmentation-b08b391...,11413234,5.0,"for dirname, _, filenames in os.walk('/kaggle/...",stream,2.0,4,0,0,...,8,4,8,2,15,5,9,0,0,3
2,2,kerneler_starter-portrait-segmentation-b08b391...,11413234,7.0,# Distribution graphs (histogram/bar graph) of...,NaN,3.0,22,0,1,...,63,29,60,9,105,5,25,2,20,1
3,3,kerneler_starter-portrait-segmentation-b08b391...,11413234,8.0,# Correlation matrix\ndef plotCorrelationMatri...,NaN,4.0,18,0,1,...,49,19,46,7,103,5,21,3,16,1
4,4,kerneler_starter-portrait-segmentation-b08b391...,11413234,9.0,# Scatter and density plots\ndef plotScatterMa...,NaN,5.0,17,0,1,...,47,28,45,6,118,5,17,5,41,1

In [ ]:
#cell_metrics.project_ID = cell_metrics.project_ID.astype(int)

In [134]:
pm1 = code_df[['project_ID','LOC', 'BLC', 'UDF', 'I', 'EH','NDD','NEC','S','P'
               ,'OPRND','OPRATOR','UOPRND','UOPRATOR','ID','LOCom', 'EAP',
               'CW']].groupby(by='project_ID').sum().reset_index()

In [57]:
pm2 =  code_df[['project_ID','ALID','LOC','ALLC','KLCID','CyC']].groupby(by='project_ID').mean().reset_index()
pm2.rename(columns={'LOC': 'MeanLCC'}, inplace= True)

In [195]:
pm3 =  code_df[['project_ID','MLID','NBD','ID']].groupby(by='project_ID').max().reset_index().rename(columns={'ID':'AID'})

In [185]:
pm4 = code_df[['project_ID', 'LOC']].groupby('project_ID').count().reset_index().rename(columns={'LOC':'CC'})

In [196]:
notebook_cell1 = pd.concat([pm1, pm2.drop(columns=['project_ID']), 
                            pm3.drop(columns=['project_ID']), pm4.drop(columns=['project_ID'])], axis=1)

### aggregate markdown cells

In [ ]:
md_df = pd.read_csv('D:/Th/data/KGT_metrics/markdown_cell_metrics.csv')

In [84]:
qm1 = md_df[['project_ID', 'H1']].groupby('project_ID').count().reset_index().rename(columns={'H1': 'MC'})

In [91]:
qm2 = md_df[['project_ID', 'MW', 'LMC']].groupby('project_ID').mean().reset_index().rename(columns={'MW':'MeanWMC', 'LMC':'MeanLMC'})

In [93]:
md_df.columns

Index(['Unnamed: 0', 'project_name', 'project_ID', 'cell_index', 'source',
       'H1', 'H2', 'H3', 'MW', 'LMC'],
      dtype='object')

In [94]:
qm3 = md_df[['project_ID', 'H1', 'H2', 'H3', 'MW', 'LMC']].groupby('project_ID').sum().reset_index()

In [98]:
notebook_cell2 = pd.concat([qm1, qm2.drop(columns=['project_ID']), qm3.drop(columns=['project_ID'])], axis=1)

In [136]:
notebook_cell1.head()

,project_ID,LOC,BLC,UDF,I,EH,NDD,NEC,S,P,...,LOCom,EAP,CW,ALID,MeanLCC,ALLC,KLCID,CyC,MLID,NBD
0,1,0,1,0,0,0,0,0,0,0,...,0,0.0,0,3.0,0.0,0.0,1.0,1.0,3,0.0
1,2,0,5,0,0,0,0,0,0,0,...,0,0.0,0,3.0,0.0,0.0,1.0,1.0,3,0.0
2,3,0,3,0,0,0,0,0,0,0,...,0,0.0,0,3.0,0.0,0.0,1.0,1.0,3,0.0
3,4,0,1,0,0,0,0,0,0,0,...,0,0.0,0,3.0,0.0,0.0,1.0,1.0,3,0.0
4,5,0,3,0,0,0,0,0,0,0,...,0,0.0,0,3.0,0.0,0.0,1.0,1.0,3,0.0

clean notebook cell metrics data

In [197]:
notebook_cell1 = notebook_cell1[notebook_cell1.project_ID != 'train_emb']
notebook_cell2 = notebook_cell2[notebook_cell1.project_ID != 'train_emb']
notebook_cell1.project_ID =notebook_cell1['project_ID'].astype(int)
notebook_cell2.project_ID =notebook_cell2['project_ID'].astype(int)
notebook_cell1 = notebook_cell1[notebook_cell1['LOC'] > 1]

C:\Users\MMGH\AppData\Local\Temp\ipykernel_12596\3653846037.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  notebook_cell2 = notebook_cell2[notebook_cell1.project_ID != 'train_emb']

## load performance tier of notebook developers

In [178]:
user_pt = pd.read_csv('D:/Th/data/user_pt.csv').rename(columns={'Id_x': 'project_ID', 
                                                               'PerformanceTier':'PT'}).drop(columns=['Unnamed: 0'])

In [198]:
notebook_cell = notebook_cell1.merge(notebook_cell2, how='left').merge(user_pt, how='left').fillna(0)

In [199]:
notebook_cell.columns

Index(['project_ID', 'LOC', 'BLC', 'UDF', 'I', 'EH', 'NDD', 'NEC', 'S', 'P',
       'OPRND', 'OPRATOR', 'UOPRND', 'UOPRATOR', 'ID', 'LOCom', 'EAP', 'CW',
       'ALID', 'MeanLCC', 'ALLC', 'KLCID', 'CyC', 'MLID', 'NBD', 'AID', 'CC',
       'MC', 'MeanWMC', 'MeanLMC', 'H1', 'H2', 'H3', 'MW', 'LMC', 'PT'],
      dtype='object')

In [200]:
notebook_cell.to_csv('D:/Th/data/KGT_metrics/notebook_metrics.csv')

In [201]:
notebook_cell.shape

(245802, 36)